<%-include("partials/header")%>
<h1>home</h1>

<p><%=startContent%></p>
  
<%posts.forEach(function(post){%>
   <% console.log(post.title);%>
    <h1><%=post.title%></h1> 
    
   <p><%=post.content.substring(0,100)+"..."%>
  <a href="https://blogify-umb2.onrender.com/posts/<%=post._id%>">Read More</a>
</p>
    <%})%>
<a href="https://blogify-umb2.onrender.com/compose" class="btn kusa btn-primary  btn-sm">compose</a>


<%-include("partials/footer")%>
